.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-form-1 {
  height: 124px;
  width: 565px;
  margin: 67px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-table-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-form-2 {
  height: 67px;
  margin: 60px 270px 0 570px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

.u-block-49ed-12 {
  margin-left: 0;
}

.u-section-1 .u-form-3 {
  height: 67px;
  margin: -67px 598px 60px 242px;
}

.u-block-49ed-24 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 623px;
  }

  .u-section-1 .u-table-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 16px;
    margin-right: 170px;
    margin-left: 470px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 498px;
    margin-left: 142px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-2 {
    margin-right: 60px;
    margin-left: 360px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 388px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 240px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 240px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 7px;
    margin-left: 40px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 17px;
}