.u-section-1 {
  background-image: url("/static/images/pexelsphoto3453030.jpeg");
  background-position: 0% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 971px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 825px -80px 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 0 -80px 52px 822px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 622px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 222px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}